//Init section
@font-face {
  font-family: 'Kairos Sans W1G';
  src: url('./fonts/kairossansw1g-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Ускоряет отображение текста до загрузки шрифта */
}
body, html, #app {
  color: #fff;
  font-family: 'Kairos Sans W1G', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #16161a;
}
.container {
  max-width: 1128px;
}
.block__header {
  font-size: 48px;
}

//Matchup section
.card{
  color: #fff;
  position: relative;
  user-select: none;
  &__map-img{
    display: block;
    filter: brightness(60%);
  }
  &__overlay{
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__map-name{
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    text-wrap: nowrap;
  }
  &__champions-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    max-width: 514px; 
    @media (max-width: 598px) {
      justify-content: start;
    }
    @media (max-width: 767px){
      margin-top: auto;
    }
  }
  &__champion{
    padding: 0;
    &:first-of-type{
      border: 2px solid #b12027;
    }
    &:last-of-type{
      border: 2px solid #2c4ac0;
    }
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 598px) {
      width: 100px;
    }
  }
  &__vs{
    font-size: 64px;
    line-height: 1;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
  }
}
.btnbox{
  &__btn{
    color: #fff;
    border: 0;
    height: 40px;
    font-size: 14px;
    padding: 0;
    transition: ease-in-out 0.2s;
    &:first-of-type{
      background-color: #7d161c;
      &:hover {
        background-color: #b12027;
      }
    }
    &:last-of-type{
      background-color: #233c9e;
      &:hover {
        background-color: #2c4ac0;
      }
    }
  }
}
.generate-btnbox-grid {
  width: 100%;
  &__btn {
    border: 0;
    padding: 11px 0; 
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #7d161c;
    &:hover {
      background-color: #b12027;
    }
  }
}

//Mapban section
.mapcard{
  width: 356px;
  position: relative;
  margin-right: 28px;
  margin-bottom: 28px;
  text-align: center;
  user-select: none;
  &:hover {
    cursor: pointer;
    .mapcard__img-block:not(.mapcard__img-block_banned) {
      .mapcard__img {
        filter: brightness(80%);
      }
    }
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  
  &__img {
    width: 352px;
    display: block;
    transition: 0.2s ease-in-out;
    filter:brightness(40%);
    &-block{
      width: inherit;
      border: 2px solid #ffffff;
      transition: 0.2s ease-in-out;
      &_banned{
        border: 2px solid #b12027;
        & > img {
          filter: brightness(20%);
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__name {
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 1;
    font-size: 24px;
    user-select: none;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    z-index: 1;
    width: inherit;
  }
}